<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" > <!--parallel="true"  并行-->
        <listeners>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        </listeners>
    <test name="Test" preserver-order="true" >
          <classes>
            <class name="com.sumavision.debug.Testcase">
                <methods>
                    <include name="testSettings" />
                    <include name="testDisplay" />
                    <include name="testActivity" />
                </methods>
            </class>
        </classes>
    </test><!--Test-->
</suite><!--Suite-->